title: Digital Garden
description: A minimal Obsidian-like markdown knowledge base
baseurl: "/sitetest"
url: ""

markdown: kramdown
kramdown:
  input: GFM
  hard_wrap: false
  syntax_highlighter: rouge

defaults:
  - scope:
      path: ""
    values:
      layout: "default"

exclude:
  - README.md
  - LICENSE
  - Gemfile
  - Gemfile.lock
